RUNNER_VERSION=2.337.0
REPO_URL=https://github.com/sjo1848/portfolio-sebastian-ojeda
RUNNER_TOKEN=PASTE_ONE_TIME_REGISTRATION_TOKEN_HERE
RUNNER_NAME=portfolio-local-docker
RUNNER_LABELS=portfolio,docker
